:root{
  --bgcolor: #323840;
  --tpcolor:#974f9f;
  --bpcolor: #6C4674;


}

body {
  background-color: var(--bgcolor);
  
}

header {

}

main {
}

section{
}

article{

}

.container{
  display:flex;


}

.card {

}

.purplebox{

}

footer {
}

@media screen and (max-width: 968px) {
  main,
  nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
